<div *ngIf="character">
  <h2>{{ character.name }}</h2>
  <div>
    Name:
    <input [(ngModel)]="character.name" placeholder="Name" />
  </div>
  <div>
    First Name:
    <input [(ngModel)]="character.firstName" placeholder="First Name" />
  </div>
  <div>
    Last Name:
    <input [(ngModel)]="character.lastName" placeholder="Last Name" />
  </div>
  <div>
    Job Title:
    <input [(ngModel)]="character.jobTitle" placeholder="Job Title" />
  </div>
  <div>
    Company:
    <input [(ngModel)]="character.company" placeholder="Company" />
  </div>
  <button (click)="updateCharacter(character)" *ngIf="character.id">Save</button>
  <button (click)="deleteCharacter(character)" *ngIf="character.id">Delete</button>
  <button (click)="createCharacter(character)" *ngIf="!character.id">Create</button>
</div>
